<div class="factor">
<div class='sky'></div>
<div class='scontainer'>
    <div class='silo-right'>
        <div class='stripe'></div>
        <div class='stripe'></div>
        <div class='stripe'></div>
        <div class='stripe'></div>
    </div>
    <div class='silo-left'>
        <div class='stripe'></div>
        <div class='stripe'></div>
        <div class='stripe'></div>
    </div>
    <div class='smoke'>
        <div class='s1'></div>
        <div class='s2'></div>
        <div class='s3'></div>
    </div>
    <div class='chim'></div>
    <div class='factory-back'></div>
    <div class='belt'></div>
    <div class='product'></div>
    <div class='pipe-hoz-1'></div>
    <div class='pipe-vert-1'></div>
    <div class='pipe-hoz-2'></div>
    <div class='pipe-hoz-3'></div>
    <div class='lid'></div>
    <div class='box'></div>
    <div class='factory-front-left'>
        <div class='windows'>
            <div class='window window-0'></div>
            <div class='window window-1'></div>
            <div class='window window-2'></div>
            <div class='window window-3'></div>
            <div class='window window-4'></div>
            <div class='window window-5'></div>
            <div class='window window-6'></div>
            <div class='window window-7'></div>
            <div class='window window-8'></div>
            <div class='window window-9'></div>
            <div class='window window-10'></div>
            <div class='window window-11'></div>
            <div class='window window-12'></div>
            <div class='window window-13'></div>
            <div class='window window-14'></div>
            <div class='window window-15'></div>
            <div class='window window-16'></div>
            <div class='window window-17'></div>
            <div class='window window-18'></div>
            <div class='window window-19'></div>
            <div class='window window-20'></div>
            <div class='window window-21'></div>
            <div class='window window-22'></div>
            <div class='window window-23'></div>
            <div class='window window-24'></div>
            <div class='window window-25'></div>
            <div class='window window-26'></div>
            <div class='window window-27'></div>
        </div>
    </div>
    <div class='factory-front-right'>
        <div class='windows'>
            <div class='window window-0'></div>
            <div class='window window-1'></div>
            <div class='window window-2'></div>
            <div class='window window-3'></div>
            <div class='window window-4'></div>
            <div class='window window-5'></div>
            <div class='window window-6'></div>
            <div class='window window-7'></div>
        </div>
    </div>
    <div class='tree'>
        <div class='trunk'></div>
        <div class='branchs'>
            <div class='b0 branch'></div>
            <div class='b1 branch'></div>
            <div class='b2 branch'></div>
            <div class='b3 branch'></div>
            <div class='b4 branch'></div>
        </div>
    </div>
</div>
</div>