<div class="header">
  <div class="row" style="color:white;">
      <div class="col-md-6" style="margin-top:-20px;">
          <h1>Ely Liberov</h1>
          <h4>Merging Emerging Technologies</h4>
      </div>
      <div class="col-md-6 hidden-sm hidden-xs">
        <div class="pull-right">
          <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fely-liberov&color=black_white&size=32" style="width: 32px; height: 32px;"></iframe>
        </div>
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <li><a href="http://blog.ElyLiberov.com">Blog</a></li>
          <li><a href="mailto:Eliberov@Gmail.com?Subject=Hello!">Contact</a></li>
        </ul>
      </div>
  </div>  
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-5 col-sm-4 col-xs-12">
    <img src="images/ely-liberov.png" class="full-width img-rounded">
    </div>
    <div class="col-md-7 col-sm-5 col-xs-12">
      <twit-widget user="ElyLiberov"></twit-widget>  
    </div>
  </div>
    

</div>



<div class="row projects" style="color:white;">
  <div class="col-md-6">
    <div class="row">
      <h2>Projects</h2>  
    </div>
    <div class="row">
    <ul class="no-bullets">
      <li class="col-md-11 col-sm-11 col-xs-11">
        <a href="http://SwapDistrict.com/" target="_blank">
            <img src="images/swapdistrict.png" alt="SwapDistrict" class="full-width">
        </a>
      </li>      
    </ul>
      
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <h2>Design Concepts</h2>
    </div>
    <div class="row">
    <ul class="no-bullets">
      <li class="col-md-11 col-sm-11 col-xs-11">
        <a href="javascript:alert('just a concept');" target="_blank">
            <img src="images/buzzkey.png" alt="Buzzkey" class="full-width">
        </a>
      </li>
      <li class="col-md-11 col-sm-11 col-xs-11">
        <a href="http://www.megabyteamerica.com" target="_blank">
            <img src="images/megabyte.png" alt="Megabyte Collective" class="full-width">
        </a>
      </li>
    </ul>
      
    </div>
  </div>
    
    
</div>
<div class="row" style="color:white;">
    <h2>Samples</h2>
    <ul class="no-bullets inline-list">
      <li><a href="http://megabyteamerica.com/sd/#/step-1"><button type="button" class="btn btn-default">SwapDistrict Pitch</button></a></li>
      <li><a href="http://www.slideshare.net/eliberov/mt-fuji"><button type="button" class="btn btn-default">Mt. Fuji App Business analysis</button></a></li>
    </ul>
</div>
<div class="row" style="color:white;">
    <h2>Press</h2>
    <ul class="no-bullets inline-list">
        <li><a href="http://inthecapital.streetwise.co/2013/08/05/6-ways-you-can-find-your-textbooks-for-wicked-cheap-this-back-to-school-season/">
                <button type="button" class="btn btn-default">InTheCapital: 6 Ways You Can Find Your Textbooks for Wicked Cheap This Back-to-School Season</button>
            </a>
        </li>
    </ul>
</div>
